SetEnv DB_HOST "localhost"
SetEnv DB_USER "u142909563_LEAdmin"
SetEnv DB_PASS "LEadmin23"
SetEnv DB_NAME "u142909563_LEARN"


RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*.php$ %{REQUEST_FILENAME}.php [QSA,L] 