SetEnv DB_HOST "localhost"
SetEnv DB_USER "u142909563_LEAdmin"
SetEnv DB_PASS "LEadmin23"
SetEnv DB_NAME "u142909563_LEARN"


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
